html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
}
body {
  min-height: 100vh;
}
.root:nth-child(1) {
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}
input:focus {
  outline: none;
}
.modal {
  position: fixed;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(218, 217, 217);
  padding: 0px 50px;
  z-index: 1000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.modal span {
  font-size: 2rem;
  color: black;
}
.input_container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.input_text {
  height: 35px;
  width: 220px;
  border: 2px solid grey;
  color: grey;
  border-radius: 4px;
}
.input_submit {
  height: 41px;
  width: 120px;
  border: 2px solid purple;
  background-color: white;
  color: purple;
  border-radius: 4px;
}
.input_submit:hover {
  cursor: pointer;
}
.div_container {
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}
@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.main {
  flex: 1;
}
.bg-dark {
  padding-top: 3rem;
  background-color: #12002b;
}
.bg-light {
  padding-top: 3rem;
  background-color: rgb(218, 217, 217);
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
